<div class="fixed-top">
    <app-header></app-header>
</div>
<div class="container" style="padding-top: 60px;">
    <div class="pl-3">
        <h2>Hi Arvind Sisodiya</h2>
    </div>
    <div class=" container card-deck">
        <div class="card">
          <img class="card-img-top" style="height:200px;" src="assets\HealthInsurance.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Health Insurance</h5>
            <p class="card-text">Health insurance takes care of your medical expenses and ensures that out-of-pocket expenses are curtailed up to the Sum insured</p>
          </div>
          <div class="card-footer">
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            <a href="https://bit.ly/2NvG8pj" target="_blank" class="btn btn-primary text-right">Detailed Info</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/accident.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Personal Accident Insurance</h5>
            <p class="card-text">Personal Accident Insurance policy provides complete financial protection to the insured members against uncertainties such as accidental death, accidental bodily injuries,etc. </p>
          </div>
          <div class="card-footer">
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            <a href="https://bit.ly/3CGePjM" target="_blank" class="btn btn-primary text-right">Detailed Info</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" style="height:210px;" src="/assets/illness.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Critical Illiness benefit</h5>
            <p class="card-text">Critical illness riders offer coverage against life-threatening diseases such as heart disease, stroke, cancer, diabetes, kidney failure etc.</p>
          </div>
          <div class="card-footer">
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            <a href="https://bit.ly/2NvG8pj" target="_blank" class="btn btn-primary text-right">Detailed Info</a>
          </div>
        </div>
      </div>
</div>
<div class="fixed-bottom">
    <app-footer></app-footer>
</div>
